body {
  color: rgb(216, 206, 187);
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  font-size: 3rem;
  background: rgb(93, 102, 133);
  min-width: 8rem; 
}

.choice-container:hover {
  cursor: pointer;
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: whitesmoke;
}

.choice-text {
  padding: 2rem;
  width: 100%;
}

.correct {
  background: yellowgreen;

}

.incorrect {
  background: red;

}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 3rem;
  border-radius: 50px;
  margin-top: 2rem;
  border: 0.2rem solid grey;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: hotpink;
  width: 0%;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}

